<nav class="navbar navbar-light bg-light">
	<div class="col-sm-2">
		<br>
	</div>
	<div class="col-sm">
		<div class="progress">
			<div class="progress-bar progress-bar-striped progress-bar-animated"
				[style.width.%]="(currentQuestion+1/numQuestion)*100"></div>
		</div>
	</div>
	<div class="col-sm-2" align="right">
		Part {{currentFile}} Q{{currentQuestion+1}} / {{numFile}} Parts
	</div>
</nav>


<div class="container">
	<br>
	<h1>{{questionTitle}}</h1>

	<p>
			For the following question, you will use a <b>Binary Quadratic Voting</b> method to express your preferences.
			<br><br>
			You will be given a budget of a certain number of <b> voice credits</b>. You will use the available credits to cast votes. If you think the government should allocate more resources to a certain cause, you can cast multiple upvotes using the <b>+1  sign</b>. If you believe the government should allocate less resources on a certain cause, you can cast a few downvotes using the <b> -1 sign</b>. If you are neutral on whether the government should spend more or less resources on a cause, you can choose to cast <b> no vote </b>.
	
			<br><br>
			<b> Based on the intensity of your opinion, you can cast one or more upvotes or downvotes for each cause</b>. The stronger your opinion is, the more votes you can put on one option. At the same time, as the number of votes increases, the voice credits it costs increases quadratically, i.e. <b> X votes will cost X^2 (square of X) credits</b>. The cost of some common number of votes is specified in the table below:
		</p>
		<table style="width:100%">
			<tbody>
				<tr>
					<th>Number of up or down votes</th>
					<td>1</td>
					<td>2</td>
					<td>3</td>
					<td>4</td>
					<td>5</td>
					<td>6</td>
					<td>7</td>
					<td>8</td>
					<td>9</td>
					<td>10</td>
				</tr>
				<tr>
					<th>Cost in number of voice credits</th>
					<td>1</td>
					<td>4</td>
					<td>9</td>
					<td>16</td>
					<td>25</td>
					<td>36</td>
					<td>49</td>
					<td>64</td>
					<td>81</td>
					<td>100</td>
				</tr>
			</tbody>
		</table>
		<p>
			<br>
			<b>You cannot exceed the budget of given voice credits, but you do not have to use up all the available credits either. </b> You can see the total number of voice credits you have and the amount of credits you have spent already in the “Summary” section below.
		</p>
	<hr>
	<p>{{questionDes}}</p>
</div>
<app-summary></app-summary>
<app-option></app-option>
